.sesamm-app__city-forecast {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  &__main {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__header {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      &__timezone {
        display: block;
        width: 100%;
        font-size: 60px;
        font-weight: 600;
      }
      &__lat{
        margin: 15px 0 0 0;
        display: block;
        width: 100%;
      }
      &__lon{
        margin: 5px 0 0 0;
        display: block;
        width: 100%;
      }
      &__date{
        margin: 5px 0 0 0;
        display: block;
        width: 100%;
      }
    }
    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &__right {
        &__temp {
          font-size: 30px;
          font-weight: 500;
        }
        &__feels-like{
          margin: 5px 0 0 0;
          display: block;
          width: 100%;
        }
        &__description {
          margin: 5px 0 0 0;
          display: block;
          width: 100%;
        }
        &__uv {
          margin: 5px 0 0 0;
          display: block;
          width: 100%;
        }
        &__humidity {
          margin: 5px 0 0 0;
          display: block;
          width: 100%;
        }
        &__visibility {
          margin: 5px 0 0 0;
          display: block;
          width: 100%;
        }
      }
    }
  }
  &__daily {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    &__day {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      &__icon {
        height: 40px;
      }
    }
  }
}